<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cainiaoguo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.SearchFailActivity"/>
        <activity android:name=".ui.activity.PackageInfoActivity"/>
        <activity android:name=".ui.activity.SendSucceedActivity"/>
        <activity android:name=".ui.activity.RegisterSucceedActivity"/>
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.LoginBeforeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MyInfo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />

        <activity android:name=".ui.activity.wtfkActivity"/>

        <activity android:name=".ui.activity.sfzActivity"/>

        <activity android:name=".ui.activity.sfz2Activity"/>

        <activity android:name=".ui.activity.bccgActivity"/>

        <activity android:name=".ui.activity.fkcgActivity"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />


    </application>

</manifest>